Welcome to Jo goes Green, a place for me to share my passion for eating healthy, plant-based food. We eat to be nourished. So let's take a look at what we are consuming. Sure we all like to cheat once in awhile, but if those once in awhiles turn into more often than nots, we have a problem. Food should provide the nutrients we need, taste great, look amazing and smell enticing. Sensually satisfying.

I struggled with seasonal allergies, digestive issues and food sensitivities for most of my life. I finally reached a point where I was sick and tired of feeling sick and tired. I won't bore you with all the details, but basically it came down to eliminating the bad stuff (anything processed) and adding all the good stuff (more veggies).

I easily lost extra weight that I had been carrying for years. I gained energy, stamina and rarely got sick. My eagerness for this healthy way of eating led me to become a Culinary Nutritionist. 

Who is Jo?

*obsessed with cooking
*mother of three
*dog lover
*sporty girl (cycles, skis, hikes, camps, yoga)
*owns a huge collection of cookbooks (inherited trait from Grandma Joyce)
*obsessed with cooking
*currently resides in Oshawa, On (Prepare to be Amazed, haven't quite figured out the city motto yet)
*lives with her soulmate (lucky girl)
*obsessed with cooking

The bottom line is if the food doesn't taste good you won't eat it. If it tastes fantastic you will, even if it contains kale and lentils!

Enjoy!

