%li 
  =link_to "accounts", url_for(:accounts, :index)
%li 
  =link_to "blogs", url_for(:blog, :index)
%li 
  =link_to "recipes", url_for(:recipes, :index)
%li 
  =link_to "comments", url_for(:comments, :index)
%li 
  =link_to "comprehensive cearch", url_for(:search, :admin_search_new)




