-this_class  = '.col-md-8.col-md-push-2'
%html{lang: "en"}
  %body
    -if is_admin?
      =partial 'layouts/admin_menu'
      .container-fluid          
        .row
          .col-md-12.user-navbar
          .col-md-push-2
            .header
              =partial 'layouts/header'
            .home-panel
              =[:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe
              =yield
              =partial 'layouts/footer'          
          .col-md-2.side-rail
    -else 
      =partial 'layouts/menu'
      .container-fluid          
        .row
          .col-md-7.col-md-push-2
            .header
              =partial 'layouts/header'
            .home-panel
              =yield
          .col-md-2    
            .sidebar-panel
              =partial 'layouts/sidebar'
      .container      
        .row
          .col-md-12
            =partial 'layouts/footer'          


